---
import SendGrid from "@sendgrid/mail";
SendGrid.setApiKey(import.meta.env.SENDGRID_API_KEY);

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("name");
    const surname = data.get("surname");
    const phone = data.get("phone");
    const email = data.get("email");
    const message = data.get("message");

    const msg = {
      to: import.meta.env.RECIPIENT_EMAIL_ADDRESS as string,
      from: "alexa_11111@ukr.net",
      subject: `Message from ${name} ${surname}`,
      text: message,
      html: `<strong>Name: </strong>${name}<br><strong>Surname: </strong>${surname}<br><strong>Phone: </strong>${phone}<br><strong>Email: </strong>${email}<br><strong>Message: </strong>${message}`,
    };

    await SendGrid.send(msg as any)
      .then(() => console.log("Message sent"))
      .catch((error) => console.error(error));
  } catch (error) {
    console.error(error);
  }
}
---

<form method="post" id="contact-form" class="w-full flex flex-col gap-6">
  <div class="w-full flex flex-col md:flex-row gap-5">
    <input
      type="text"
      name="name"
      placeholder="First name..."
      class="h-16 w-full px-8 border-transparent invalid:outline-red-500 autofill:text-orange dark:text-white bg-white rounded dark:bg-dark dark:placeholder:text-white-smoke"
      required
      autocomplete="off"
    />
    <input
      type="text"
      name="surname"
      placeholder="Last name..."
      class="h-16 w-full px-8 border-transparent invalid:outline-red-500 autofill:text-orange dark:text-white bg-white rounded dark:bg-dark dark:placeholder:text-white-smoke"
      autocomplete="off"
    />
  </div>
  <input
    type="tel"
    name="phone"
    placeholder="Phone number..."
    class="h-16 w-full px-8 border-transparent invalid:outline-red-500 autofill:text-orange dark:text-white bg-white rounded dark:bg-dark dark:placeholder:text-white-smoke"
    autocomplete="off"
    required
  />
  <input
    type="email"
    name="email"
    placeholder="Email..."
    class="h-16 w-full px-8 border-transparent invalid:outline-red-500 autofill:text-orange dark:text-white bg-white rounded dark:bg-dark dark:placeholder:text-white-smoke"
    required
    autocomplete="off"
  />

  <textarea
    name="message"
    placeholder="Message..."
    class="h-96 w-full px-8 pt-4 border-transparent invalid:outline-red-500 autofill:text-orange dark:text-white bg-white rounded resize-y dark:bg-dark dark:placeholder:text-white-smoke"
    required
    autocomplete="off"></textarea>

  <div class="inline-flex gap-5 justify-start">
    <button
      type="submit"
      class="h-16 px-8 w-96 uppercase border-transparent border-2 font-bold text-md inline-block text-center bg-indigo transition-colors hover:border-indigo hover:text-indigo hover:bg-transparent text-white rounded"
      >Send Message</button
    >
    <a
      href="/frontend-olexiy-melnychuk-cv.pdf"
      class="uppercase inline-block rounded-main text-center font-bold py-4 xl:px-12 lg:px-10 px-8 text-md transition-colors w-96 bg-transparent underline hover:no-underline text-dark leading-7"
      download="/frontend-olexiy-melnychuk-cv.pdf"
      aria-label="Download CV"
    >
      Download CV</a
    >
  </div>
</form>

<script>
  const form = document.getElementById("contact-form") as HTMLFormElement;
  form.addEventListener("submit", (event) => {
    event.preventDefault();
    form.submit();
  });
</script>
